version: "3.8"

services:
  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: vm_db
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin"]
      interval: 10s
      timeout: 5s
      retries: 5

  adminer:
    image: adminer
    container_name: adminer
    ports:
      - "8080:8080"
    depends_on:
      - postgres

  backend:
    build: ./backend
    container_name: backend
    working_dir: /app
    volumes:
      - ./backend:/app
    ports:
      - "5000:5000"
    environment:
      - NODE_ENV=development
      - DB_HOST=postgres
      - DB_NAME=vm_db
      - DB_USER=admin
      - DB_PASS=admin
      - DB_PORT=5432
      - JWT_SECRET=secret
      - ESXI_HOST=192.168.56.10
      - ESXI_USER=root
      - ESXI_PASSWORD=An0nas_
      - ESXI_PORT=22
      - TELEGRAM_BOT_TOKEN=8359101654:AAG95K8Mbi_BmCAn4R5WOe37KijuUXSJMi4
      - TELEGRAM_CHAT_ID=977325615
    depends_on:
      postgres:
        condition: service_healthy
    healthcheck:
      test: ["CMD-SHELL", "pgrep node || exit 1"]
      interval: 5s
      timeout: 3s
      retries: 10
      start_period: 10s
    command: npm run dev

  frontend:
    build: ./frontend
    container_name: vm-frontend
    ports:
      - "3000:3000" 
    volumes:
      - ./frontend:/app  
    depends_on:
      backend:
        condition: service_healthy

volumes:
  pgdata: